# Build Files
Jamconfig
Jamconfig.in
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
.deps/
.dirstamp
stamp-h1
*.o
*.a
*.exe
*~
contrib/win32/lincity-ng.res
mk/autoconf/ar-lib
mk/autoconf/compile
mk/autoconf/config.guess
mk/autoconf/config.sub
mk/autoconf/install-sh
mk/autoconf/missing
mk/autoconf/depcomp
build/
config.h
config.h.in
config.log
config.status
configure
AUTHORS
INSTALL
data/locale/gui/messages.pot
data/locale/messages.pot
lincity-ng
xmlgettext

# Temporary Files
.*.swp
